
process.executor = 'slurm'          // can change executor
process.queue = '<partition_name>'

params {
  prefix           = ""     // name of run
  results          = ""     // path to directory for storing restuls
  resources        = "$projectDir/resources/"  // path to directory for storing resources
  scripts          = "$projectDir/scripts/"    // path to directory for storing resources
  diamond_db       = ''     // path to database for diamond
  nr_nodes_db      = ''     // path to database for blobtools
  nr_names_db      = ''     // path to database for blobtools
  
  guppy_bin        = ''     // path to guppy basecaller binary
  tsebra_path      = ''     // path to tsebra directory
  braker_prot_path = ''     // path to braker protein database file
  nextdenovo       = ''     // path to nextdenovo binary
  smartdenovo      = ''     // path to smartdenovo directory

  min_read_length  = 3000    // minimum read length for nanopore reads

  ont_reads      = ""        // path to ont reads
  illumina       = [[,],[,]] //  paths to illumina wgs reads in format: [ ["path/to/<r1>" , "path/to/<r2>"], ...]
  genome_size    = ""        // Genome size estimate for Canu
  rna_seq	     = [[,],[,]] //  paths to illumina rnaseq reads in format: [ ["path/to/<r1>" , "path/to/<r2>"], ...]
  fast5_dir      = []        // location of fast5 directory, can have multiple seperated in list
  guppy_model    = ""        // guppy model used for basecalling, needed for medaka
  guppy_config   = ""        // config for guppy_basecaller
  guppy_flowcell = ""        // config for guppy basecalling
  guppy_kit      = ""        // config for guppy basecalling

}
