
executor{
  queueSize=250
  submitRateLimit = "1 sec"
}

process.executor = 'slurm'
process.queue = 'normal,owners,ellenyeh'

process.clusterOptions = "--output=$projectDir/slurm-logs/slurm-%j.out"
process.errorStrategy = "ignore"

process {
    withLabel: slurm_trivial {
        memory = {2.GB * task.attempt}
        time = {10.m * task.attempt}
        cpus=1
        errorStrategy = {task.attempt < 3 ? 'retry' : 'ignore'}
        maxRetries = 5
    }
}

process {
    withLabel: slurm_short {
        errorStrategy = {task.attempt < 3 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {8.GB * task.attempt}
        time = {2.h * task.attempt}
        cpus = 2
    }
}

process {
    withLabel: slurm_nanofilt {
        errorStrategy = {task.attempt < 3 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {8.GB * task.attempt}
        time = {4.h * task.attempt}
        cpus = 2
    }
}


process {
    withLabel: slurm_diamond {
        errorStrategy = {task.attempt < 8 ? 'retry' : 'ignore'}
        maxRetries = 8
        memory = {112.GB}
        time = {(3.h * task.attempt)} 
        cpus = {4 + (1 * task.attempt)}
    }
}

process {
    withLabel: slurm_guppy {
        queue = 'owners,gpu'
        errorStrategy = {task.attempt < 20 ? 'retry' : 'terminate'}
        maxRetries = 21
        memory = {4.GB * task.attempt}
        time = {48.h}
        cpus = 4
        clusterOptions = " -G 4 --gpus-per-node 4 -C GPU_SKU:RTX_2080Ti --output=$projectDir/slurm-logs/slurm-%j.out"
    }
}

process {
    withLabel: slurm_racon {
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {124.GB + (64.GB * task.attempt)}
        time = {48.h}
        cpus = 4
    }
}

process {
    withLabel: slurm_medium {
        errorStrategy = {task.attempt < 5 ? 'retry' : 'ignore'}
        maxRetries = 6
        memory = {180.GB + (32.GB * task.attempt)}
        time = {32.h + (8.h * task.attempt)} 
        cpus=16
    }
}

process {
    withLabel: slurm_pomoxis {
        errorStrategy = {task.attempt < 5 ? 'retry' : 'ignore'}
        maxRetries = 6
        memory = {64.GB + (64.GB * task.attempt)}
        time = {6.h + (6.h * task.attempt)} 
        cpus=16
    }
}

process {
    withLabel: slurm_opera {
        errorStrategy = {task.attempt < 5 ? 'retry' : 'ignore'}
        maxRetries = 6
        memory = {128.GB + (64.GB * task.attempt)}
        time = {96.h} 
        cpus=24
        queue = "ellenyeh"
    }
}

process {
    withLabel: slurm_blobtools {
        errorStrategy = {task.attempt < 5 ? 'retry' : 'ignore'}
        maxRetries = 6
        memory = {24.GB + (16.GB * task.attempt)}
        time = {4.h + (2.h * task.attempt)} 
        cpus=12
    }
}

process {
    withLabel: slurm_coverage {
        errorStrategy = {task.attempt < 5 ? 'retry' : 'ignore'}
        maxRetries = 6
        memory = {64.GB + (32.GB * task.attempt)}
        time = {8.h + (4.h * task.attempt)} 
        cpus=12
    }
}

process{
    withLabel: slurm_canu {
        errorStrategy = {task.attempt < 1 ? 'retry' : 'ignore'}
        maxRetries = 3
        memory = {248.GB}
        time = {160.h} 
        queue = "ellenyeh"
        cpus=30
    }
}

process{
    withLabel: slurm_shasta {
        errorStrategy = {task.attempt < 3 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {64.GB + (32.GB * task.attempt)}
        time = {12.h + (8.h * task.attempt)} 
        cpus=16
    }
}

process{
    withLabel: slurm_raven {
        errorStrategy = {task.attempt < 3 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {64.GB + (32.GB * task.attempt)}
        time = {24.h + (8.h * task.attempt)} 
        cpus=16
    }
}

process{
    withLabel: slurm_flye {
        errorStrategy = {task.attempt < 3 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {(128.GB * task.attempt)}
        time = {48.h} 
        cpus = 24
    }
}


process{
    withLabel: slurm_spades {
        errorStrategy = {task.attempt < 2 ? 'retry' : 'ignore'}
        maxRetries = 3
        memory = {192.GB}
        time = {144.h} 
        cpus = 18
        queue = "ellenyeh"
    }
}

process {
    withLabel: slurm_long {
        errorStrategy = {task.attempt < 2 ? 'retry' : 'ignore'}
        maxRetries = 3
        memory = 96.GB
        time = '23h'
        cpus=32
    }
}

process {
    withLabel: slurm_pilon {
        errorStrategy = {task.attempt < 5 ? 'retry' : 'ignore'}
        maxRetries = 6
        memory = {24.GB + (12.GB * task.attempt)}
        time = {4.h + (4.h * task.attempt)}
        cpus = 1
    }
}

process {
    withLabel: slurm_pilon_setup {
        errorStrategy = {task.attempt < 5 ? 'retry' : 'ignore'}
        maxRetries = 6
        memory = {32.GB + (32.GB * task.attempt)}
        time = {24.h} 
        cpus = 16
    }
}

process {
    withLabel: slurm_medaka {
        errorStrategy = {task.attempt < 2 ? 'retry' : 'ignore'}
        maxRetries = 3
        //clusterOptions = "-p gpu,owners -c 16 -G 1 --output=$projectDir/slurm-logs/slurm-%j.out"
        memory = {64.GB + (32.GB * task.attempt)}
        time = {24.h + (4.h * task.attempt)} 
        cpus=32    
        }
}

process {
    withLabel: slurm_busco {
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {16.GB + (8.GB * task.attempt)}
        time = {4.h + (2.h * task.attempt)} 
        cpus=4    
    }
}

process {
    withLabel: slurm_fastp {
        errorStrategy = {task.attempt < 6 ? 'retry' : 'ignore'}
        maxRetries = 6
        memory = {32.GB + (32.GB * task.attempt)}
        time = {4.h + (4.h * task.attempt)} 
        cpus=4    
        }
}

process {
    withLabel: slurm_braker {
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {48.GB + (8.GB * task.attempt)}
        time = {48.h + (0.h * task.attempt)} 
        cpus=30   
        }
}

process {
    withLabel: slurm_repeatM {
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {32.GB + (32.GB * task.attempt)}
        time = {12.h + (6.h * task.attempt)} 
        cpus=16    
        }
}

process {
    withLabel: slurm_interproscan {
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {32.GB + (32.GB * task.attempt)}
        time = {12.h + (12.h * task.attempt)} 
        cpus=16    
        }
}

process {
    withLabel: slurm_eggnog {
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {96.GB + (64.GB * task.attempt)}
        time = {12.h + (12.h * task.attempt)} 
        cpus=16    
        }
}

process {
    withLabel: slurm_star {
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {32.GB + (32.GB * task.attempt)}
        time = {12.h + (12.h * task.attempt)} 
        cpus=16    
        }
}

process {
    withLabel: slurm_mapping {
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {32.GB + (16.GB * task.attempt)}
        time = {4.h + (2.h * task.attempt)} 
        cpus=8    
        }
}